header {
    background-color: #280101;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-image: url("bg.jpg");
  }

nav{
  text-align:right;
}


.link{
  font-size:20px;
  background-color:rgb(105, 179, 225);
  color:rgb(39, 39, 34);
  text-decoration: none;
}

h2 {
    padding: 10px;
    text-align:center;
    font-size:25px;
    color:black;
}

#contact {
    padding: 10px;
    text-align: start;
    font-size:25px;
    color:black;
    border-style: solid;
    text-align: center;
}

* {
    box-sizing: border-box;
  }

footer{
    text-align:center;
    color:rgb(32, 66, 77);
    padding:15px;
    font-size: medium;
    background-color:#e5e5e5;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    grid-area: footer;
}


#Company{
  background-color: rgb(11, 3, 72);
  color: white;
  font-size:20px;
  font-weight: bold;
  padding:6px;
  margin: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

#Intern{
  background-color: rgb(11, 3, 72);
  color: white;
  font-size:20px;
  font-weight: bold;
  padding:6px;
  margin: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

h3.about{
  text-align:center;
  border-style: solid;
  font-size: 20px;
}

.about{
  margin: auto;
  padding: 10px;
}

#usertype{
  text-align:center;
  padding:2px 10px;
  margin:auto;
}

#studentreview {
  text-align: center;
  border-style:solid;
  margin:auto;
  padding:10px;
  font-size:20px;
}

h3.location{
  border-style: solid;
  font-size: 20px;
}
.location{
  text-align: center;
  margin:auto;
  padding:10px;
}

#loc{
  background-color: rgb(15, 15, 56);
  color: white;
  padding:10px;
  margin: 10px;
}

#contactForm{
  font-size:20px;
  color:blue;
  border-style: solid;
  border-color:black;
  margin:auto;
  padding:5px;
}