header {
    background-color: #280101;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    background-image: url("bg.jpg");
  }

nav{
  text-align:right;
}


#link{
  font-size:20px;
  background-color:rgb(105, 179, 225);
  color:rgb(39, 39, 34);
  text-decoration: none;
}

h2 {
    padding: 30px;
    text-align:center;
    font-size:25px;
    color:black;
}

#contact {
    padding: 10px;
    text-align: start;
    font-size:25px;
    color:black;
}

* {
    box-sizing: border-box;
  }

footer{
    text-align:center;
    color:rgb(32, 66, 77);
    padding:2px;
    background-color:#e5e5e5;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    grid-area: footer;
}


#Company{
  background-color: rgb(11, 3, 72);
  color: white;
  font-size:20px;
  font-weight: bold;
  padding:6px;
  margin: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

#Intern{
  background-color: rgb(11, 3, 72);
  color: white;
  font-size:20px;
  font-weight: bold;
  padding:6px;
  margin: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

h3.about{
  text-align:center;
  border-style: solid;
}

.about{
  margin:5px;
}

#usertype{
  text-align:center;
  padding:2px 10px;
  margin:auto;
}

#studentreview {
  text-align: center;
  border-style:solid;
  padding:10px;
}